.AccountContainer {
    text-align: center;
  }
  
  .Button-Container {
    margin: auto;
    padding: 30px;
    height: 800px;
    background-color: #041e42;
    width: 50%;
  }
  
  .users-img {
    color: black;
    position: absolute;
    width: 20px;
    height: 20px;
    float: left;
  }
  
  .icon img {
    border-radius: 4px;
    float: right;
    padding-top: 1%;
    width: 30px;
    height: 30px;
  }

  .avatar img {
      height: 80px;
      width: 80px;
      /* position: relative; */
      float: right;
  }
  
  .name-text {
    text-align:right;
    color: aliceblue;
    padding-top: 0%;
  }
  
  .btn-group {
    position: relative;
    top: 30%;
  }
  
  .bttns {
    margin: auto;
    height: 200px;
    width: 200px;
    /* display: block; */
    cursor: pointer;
    border-radius: 50%;
    font-size: x-large;
  }
  